workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1vg5f9RWje1QydTRJMSmZYy64uX1Yb3P9",
          "mode": "list",
          "cachedResultName": "N8N Supabase RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1vg5f9RWje1QydTRJMSmZYy64uX1Yb3P9"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        -48
      ],
      "id": "303101c7-ada2-4218-b486-89b3808027ac",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xARk9jno447w6Pog",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -96,
        -48
      ],
      "id": "f8fa535a-474c-44c4-b3e4-ba0d539b2222",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xARk9jno447w6Pog",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        112,
        -48
      ],
      "id": "731dd1ac-c39e-4489-98d1-74c76d420fc6",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "oeWf6sdn01WLdjvL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        256,
        176
      ],
      "id": "495644d7-12bb-448e-abdb-c3e3c3e92794",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        368,
        352
      ],
      "id": "30f0456b-4d79-4207-89c3-3b83ca83d1c5",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        176
      ],
      "id": "b2741708-142b-4867-87e3-2222ef6356bf",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "BZcHeRg8RCXerVWk",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -448,
        544
      ],
      "id": "c69a53f5-6114-4c73-8e6e-29e19f1fcc8c",
      "name": "When chat message received",
      "webhookId": "90811fb5-56ce-43d4-8b21-a1709570376b"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a friendly, helpful, human-like restaurant assistant.\nYou respond warmly, naturally, and professionally—never robotic.\nKeep replies short, clear, and conversational.\nUse simple language and sound like a real restaurant staff member talking to a customer.\nAlways be polite, patient, and positive.\nIf a customer seems confused, guide them calmly.\nIf you don’t know something, say it honestly and offer an alternative."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -240,
        544
      ],
      "id": "53d4fff4-77ba-4c2f-8b84-7f625444e0c0",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -240,
        752
      ],
      "id": "7725b89d-456e-4d45-b618-e1bf5ccf05ca",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use the data in the vector store to answer questions",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -64,
        752
      ],
      "id": "bc4d7eba-b11d-4b26-a1c3-05557727619f",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "oeWf6sdn01WLdjvL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        896
      ],
      "id": "93b6fea1-c0bd-4439-86f7-a5cf71d00782",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "BZcHeRg8RCXerVWk",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -384,
        752
      ],
      "id": "425edc10-dd52-4ec1-8528-b2157c21dae6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "lHE2nKWxMagTyXnE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fe13966b-b487-4331-b340-69f38fa1eb15",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10f52971ce417abaf9c274640549787aac1358d9d49983556d6a46b6cd861552"
  },
  "id": "GQluXrCBRSIm2toZ",
  "tags": []
}